[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-emQz/Client-Getaway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-emQz/products-microservices.git
[submodule "order-ms"]
	path = order-ms
	url = https://github.com/Nest-Microservices-emQz/orders-Microservices.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-emQz/Payments-microservices.git
